*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Fira Sans', sans-serif;
    transition: all 0.3s;
}
ul, a{
    text-decoration: none;
    list-style: none;
    color: #110b57;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: var(--scrollbar39); 
    border-radius: 5px;
}
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
.clear{clear:both;}
/*_____________________________________________Theme_____________________________________________*/
:root{
    --primary-color39:#DFDCE3;
    --secondary-color39:#f9f9f9;
    --color39:#16123fd3;
    --talk-color39:#6b6b6b;
    --colorless39:#6b6b6b;
    --footercolor39:#c7ddcc;
    --foottalk39:rgb(81, 81, 81);
    --downcolor39:rgb(95, 95, 95);
    --top-navbar39:rgba(115, 201, 182, 85);
    --bottom-navbar39:rgba(199, 221, 204, 0.85);
    --top-color39: black;
    --logo39:black;
    --ultop39:#c7ddcc;
    --ulbot39:#75c9b7;
    --scrollbar39:#f1f1f1;
}
.dark-theme{
    --primary-color39:#232931;
    --secondary-color39:#393e46;
    --color39:#4ecca3; 
    --colorless39:#668fa3a2;
    --talk-color39:#eeeeee;
    --footercolor39:#506076;
    --foottalk39:#ececec;
    --downcolor39:#ececec;
    --top-navbar39:rgba(80, 96, 118, 0.85);
    --bottom-navbar39:rgba(55, 71, 93, 0.85);
    --top-color39:white;
    --logo39:white;
    --ultop39:rgb(80, 96, 118);
    --ulbot39:rgb(55, 71, 93);
    --scrollbar39:#232931;
}

/*_____________________________________________Heading_____________________________________________*/

.homeheading{position:relative;display:block;}
.navebarcontainer{
    width: 100%;
    height:89px;
    border-radius: 5px;
}
.navebar{
    background-image: linear-gradient(to bottom right, var(--top-navbar39) , var(--bottom-navbar39));
    position: fixed;
    top: 0;
    width: 100%;
    height: 85px;
    z-index: 100;
    box-shadow: 0 0 20px 0  rgba(0, 0, 0, 0.6);
    border-radius: 0 0 10px 10px;
}
.navebar .logo{
    width:15%;
    text-align:center;
    float: left;
    margin:0px 5px 0px 10px;
}
.navebar .logo figcaption{
    color: var(--logo39);
    font-size:17px;
    margin-bottom: 5px;
    font-family: 'Fira Sans', sans-serif;
}
.parentnave a {opacity: 1;}
.parentnave a:hover{opacity: 0.6;}
.naveitems ul{
    width:80%;
    float:left;
    text-align: right;
}
.naveitems .parentnave >li
{
    display:inline-block;
    width:8%;
    text-align:center;
    padding-left: 10px;
    margin-top:25px;
    position: relative;
}
.navelist{
    position: relative;
}
.naveitems .navelist ul li{
    margin:40px 0px;
    font-size:30;
}
.navelist ul{
    /* visibility: none; */
    display: none;
    /* opacity: 0; */
    text-align: center;
    position: absolute;
    top: 44%;
    left: -10%;
    background-image: linear-gradient(to bottom right, var(--ultop39), var(--ulbot39));
    /* transition: opacity 0.6s; */
    text-align:center;
    position: absolute;
    min-width: 150px;
    border-radius:15px;
    z-index: 101;
    margin-top: 20px;
    box-shadow: 8px 10px 20px 0px rgba(0, 0, 0, 0.303);
}

.navelist:hover ul{
    /* visibility:visible; */
    /* opacity: 1; */
    display: block;
}
.nevetempitems{
    display: none;
    color: linear-gradient(to bottom right, #16123f , white);
    position: absolute;
    text-align:center;
    left: 35%;
}
a:hover + .nevetempitems{
    display:block;
    color: var(--top-color39);
}
.navelist.nevetempitems{
    text-align: center;
    margin:0px 40px 0px -2px;
}
.navelist ul li a:hover + .nevetempitems{
    display:block;
    position: absolute;
    width:60%;
    left:20%;
    font-size: 14px;
}
#themeicon{
    width:35px;
    cursor: pointer;
    opacity: 0.7;
    transition: all 0.3s;
}

#themeicon:hover {
    opacity: 1;
}
#welcom {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 600;
    overflow: hidden;
    border-right: .10em solid #FFE26A;
    white-space: nowrap;
    animation: typing 2s steps(20, end) 0.1s forwards;
    margin: 0 auto;
}
@keyframes typing {
    from {
        width:0;
    }

    99.9% {
        width:11.5em;
        border-right-color: #FFE26A;
        white-space: nowrap;
    }

    100% {
        width:12em;
        border-right-color: transparent;
        white-space: normal;
        
    }
}


/*_____________________________________________Homebody_____________________________________________*/



body{ background-color:var(--primary-color39);}
.home39_body{
    padding-top:20px;
}
.bodytitle{
    height: 700px;
    text-align:center;
    margin-top: 50px;
    font-size: 25px;
    color:var(--color39);
}
.bodytitle h5{
    margin-top:50px;
    color:var(--colorless39);
}
.bodytitle h1{transition: none;}
.features{
    background-color: var(--secondary-color39);
    padding:40px 0px;
    margin-top: 40px;
}
.features .container{
    background-color: var(--secondary-color39);
    margin-right: auto;
    margin-left: auto;
    width:60%;
    text-align: center;
    font-family: Cascadia Code Light;
}
.features .container h2{text-align: left;font-size: 35px;margin: 20px 0px 40px;  color: var(--color39)}
.features .container h3{
    font-size: 25px;
    color:var(--talk-color39);
    margin-top:10px;
}
.featlist1 li,.featlist2 li,.featlist3 li{
    float:left;
    width:25%;
    margin:30px 20px 30px 40px;
}
/*_____________________________________________Books_____________________________________________*/

.books_heading39container, .ai39container, .hardware39container, .notes39container, .security39container, .software39container{
    position: relative;
    padding:30px;
    min-height:80vh;
    overflow: hidden;
}
.ai39container, .notes39container, .software39container{
    background-color: var(--secondary-color39);
}
.books_heading39, .ai39, .hardware39, .notes39, .security39, .software39{
    position: relative;
    width:80%;
    min-height:80%;
    margin: auto;
}
.books_heading39{
    position: absolute;
    display: inline-block;
    top:70%;
    left:60%;
    transform: translate(-50%,-50%);
    font-size:40px;
    text-align: left;
}
.books_heading39 h2{
    text-align: left;
    margin-bottom: 45px;
    color:var(--color39);
}
.books_heading39 h6{color:var(--talk-color39)}
.books_heading39 h2::after, .ai39 h2::after, .hardware39 h2::after, .notes39 h2::after, .security39 h2::after, .software39 h2::after{
    content:"";
    display: block;
    height:3px;
}
.books_heading39 h2::after{
    width:64%;
    background-color:#e65e5e;
}
.ai39:hover h2::after, .hardware39:hover h2::after, .notes39:hover h2::after, .security39:hover h2::after, .software39:hover h2::after{
    /* width:30%; */
    background-color:#5ec4e6;
    transition: 1s;
}
.bookstopics39 h2{
    margin:50px 0px 40px;
    font-size:35px;
    color:var(--color39);
}
.booksbooks39 li{
    float:left;
    position: relative;
    margin: 35px;
}
.booksbooks39 li:hover{
    transform: scale(1.2, 1.2);
    box-shadow: 5px;
}
.booksbooks39 {
    margin-top:80px;
}
.booksbooks39 li h4{
    margin-top:10px;
    color:var(--talk-color39);
}
/*_____________________________________________ADDS_____________________________________________*/

.adds{
    padding:20px;
}
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

.slideshow-container {
max-width: 650px;
position: relative;
margin: auto;
}
.numbertext {
color: #f2f2f2;
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
}

.dot {
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}

.active {
background-color: #717171;
}

.fade {
animation-name: fade;
animation-duration: 1.5s;
}

@keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}
/*_____________________________________________Footer_____________________________________________*/



.homefooter {
    position: relative;
    bottom: 0px;
    width: 100%;
    height:190px;
    margin-bottom: -15px;
    background-color: var(--footercolor39);
    color: white;
    text-align: center;
    padding:10px 0px;
    box-shadow:100px  rgba(0, 0, 0, 0.6);
    /* border-radius: 10px; */
    z-index: 2;
    opacity: 0.8;
}
.homefooter a {opacity: 1;}
.homefooter a:hover{opacity: 0.5;}
.footerlist{
    /* display: inline-block; */
    width:40%;
    float: left;
    margin-top: 10px;
}
.footerlist div{
    
    float:none;
    display: inline-block;
    width: 100%;
    height: 30%;
    padding:10px;
    margin-top: 10px;
}
.footerlist div li{
    position: relative;
    /* display: inline-block; */
    float: left;
    width:40%;
}
.foottempitems{
    display: none;
    color: linear-gradient(to bottom right, #16123f , white);
}
a:hover + .foottempitems{    
    display:block;
    position: absolute;
    left: 40%;
    text-align:center;
    color: var(--downcolor39);
}
.bottemp{
    display: none;
    color: linear-gradient(to bottom right, #16123f , white);
}
a:hover + .bottemp{display:block;font-weight: bold;}
.foottalk{
position: relative;
display: inline-block;
width: 40%;
height: 80%;
text-align: center;
color: var(--foottalk39);
font-size:20px;
padding:10px;
}
.foottalk p{
    position:absolute;
    top:8%;
    transition:none ;
}
.foottalk p i{transition: none;}
.topbutton{
    display: inline-block;
    position: absolute;
    width:8%;
    bottom:10px;
    right:0px;
    margin:10px;
}
