* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
  --right27: #fff;
  --left-top-color27:#75C9B7;
  --left-bottom-color27:#C7DDCC;
  --left-text27:#fff;
  --sign-up-color27:#182c5d;
  --input-color27:#f5f5f5;
  --input-focus-color27:#e8f0fe;
  --labels-color27:#00000098;
  --button-background-color27:whitesmoke;
  --button-color27:black;
  --button-color-hover27:whitesmoke;
  --button-background-color-hover27:#75c9b7;
  --policy-color27:#000000a4;
  --policy-span-color27:#182c5d;
  --input-color-text27:black;
}

.dark-theme{
  --right27: #232931;
  --left-top-color27:#232931;
  --left-bottom-color27:#393E46;
  --sign-up-color27:#4ECCA3;
  --input-color27:#323a46;
  --left-text27:whitesmoke;
  --labels-color27:#eeeeee98;
  --input-focus-color27:rgb(50, 64, 93);
  --button-background-color27:#343d4a;
  --button-color27:#4ECCA3;
  --button-color-hover27:#343d4a;
  --button-background-color-hover27:#4ECCA3;
  --policy-color27:#eeeeee7d;
  --policy-span-color27:#1540ac;
  --input-color-text27:white;
}
body {
    background: #dfdce3;
}
::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 5px;

  }

  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

div.page {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    margin-top: -5px;
    
}

div.left {
    position: relative;
    display: inline-block;
    font-family: 'Hammersmith One', sans-serif;
    font-weight: bold;
    font-size: 7em;
    width: 60%;
    height: calc(100vh - 85px);
    background: linear-gradient(135deg, var(--left-top-color27) ,var(--left-bottom-color27));
    overflow: hidden;
    margin-bottom: -4px;
    opacity: 1;
    transition: all .3s;
}

div.left>span {
    position: absolute;
    top: 15%;
    left: 5%;
    letter-spacing: 1px;
    color: var(--left-text27);
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    letter-spacing: 300px;
    transition: all .3s;
}
div.left>span div {
  opacity: 0;
  text-indent: 5px;
  font-family: 'Lobster', cursive !important;
}
div.left span div.first {
  overflow: hidden;
  white-space: nowrap;
  animation: spaces 1s ease 0s forwards;
}
div.left span div.sec {
  animation: spaces 1s ease 1s forwards;
}
div.left span div.third {
  animation: spaces 1s ease 2s forwards;
}
@keyframes spaces {
  0% {
    letter-spacing: 300px;
    opacity: 1;
  }
  100% {
    letter-spacing: 1px;
    opacity: 1;
  }
}

div.right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: var(--right27);
    width: 40%;
    height: calc(100vh - 85px);
    padding: 1% 2.3%;
    transition: all .3s;
}

.right span#signup {
    color: var(--sign-up-color27);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 3.2em;
    margin-left: -15px;
    margin-bottom: 10px;
    transition: all .3s;
}

.right form .flex {
    display: flex;
}
.right form label[for="first"],
.right form label[for="sec"],
.right form label[for="email"],
.right form label[for="pass"],
.right form label[for="conpass"] {
    display: inline-block;
}

.right form input {
    color: var(--input-color-text27);
    border-radius: 5px;
    border: none;
    height: 45px;
    margin-bottom: 2.62vh;
    width: 100%;
    padding: 5px;
    position: relative;
    background-color: var(--input-color27);
    transition: all .3s;
}

.right form input:focus {
    outline: none;
    background-color: var(--input-focus-color27);
}

.right form input[type=text] {
    width: 48%;
}

.right form input#sec {
    float: right;
    clear: both;
}

.right form input[type=radio] {
    margin-bottom: 0 !important;
    height: auto !important;
    width: auto !important;
    width: 30px;
    height: 30px;
}

.right form label {
    font-family: 'Hind', sans-serif;
    font-size: 16px;
    color: var(--labels-color27);
    margin-bottom: 1vh;
    display: inline-block;
}

.right form p.call{
    color: var(--labels-color27);
    font-family: 'Cabin', sans-serif;
    margin-bottom: 1vh;
}

.right div#save {
    display: flex;
    justify-content: center;
    width: 100%;
}
.right form input#read {
    width: 13px;
    height: 13px;
    margin-bottom: 0;
}
.right input[type=submit] {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: large;
    margin-top: 1vh;
    margin-bottom: 10px;
    width: 50%;
    border-radius: 17px;
    cursor: pointer;
    background-color: var(--button-background-color27);
    color: var(--button-color27);
    border: none;
    height: 45px;
    padding: 5px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.251);
    transition: all .3s;
}

.right input[type=submit]:hover {
    background-color: var(--button-background-color-hover27);
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.351);
    color: var(--button-color-hover27);
    font-weight: bold;
}
.right p#policy {
    font-family: 'Hind', sans-serif;
    color: var(--policy-color27);
    font-size: 12px;
    text-indent: 6px;
}
.right p#policy span {
  text-decoration: underline;
  color: var(--policy-span-color27);
  cursor: pointer;
}
.container {
    display: block;
    position: relative;
    padding-left: 24px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 1.5vh !important;
  }

  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border-radius: 50%;
  }

  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }

  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .container input:checked ~ .checkmark:after {
    display: block;
  }

  .container .checkmark:after {
      top: 5px;
      left: 5px;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background: white;
  }

  div.flexr {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
  }

  @media (max-width:1921px){
    .right form input{
      margin-bottom: 5.62vh;
    }
  }
  @media (max-width:1440px){
    .right form input{
      margin-bottom: 2.62vh;
    }
  }
