*{
	font-family: 'fira sans', sans-serif;
	transition: all 0.3s;
}

:root{
	--primary-color: #DFDCE3;
    /* --primary-color: #232931; */
	--secondary-color: #f9f9f9;
	--color38: rgba(14, 14, 14, 0.693);
	--talk-color38: #6b6b6b;
	--colorless38: black;
    --code-color38: #e5ad73;
    --comment-color38: #008000;
    --textcol: black;
    --bubblecol:rgba(4, 4, 4, 0.95);
    --h4code-color38:#eee;
}

.dark-theme{
	--primary-color: #232931;
	--secondary-color: #393e46;
	--color38: rgba(214, 214, 214, 0.329);
	--talk-color38: #668fa3a2;
	--colorless38: #eeeeee;
    --code-color38: #9ac1e9;
    --comment-color38: #008000;
    --textcol: white;
    --bubblecol:rgba(221, 221, 221, 0.652);
    --h4code-color38:#eee;
}

body{
	background-color: var(--primary-color);
}

h1 {
    font-size: 50px;
    font-family: 'Lobster', cursive;
}

.content{
    width: 85%;
    margin: auto;
    line-height: 25px;
    margin-top: 160px;
}

.content .title{
    text-align: center;
    font-size: 30px;
}
h3,
p.lets,
h2,
h1 {
    color: var(--textcol);
}

hr {
    background-color: var(--textcol);
    border: none;
    height: 2px;
}

.langs{
    position: relative;
    /* margin-top: 160px; */
    margin: 200px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    
}

.content a{
    color: var(--code-color38);
    cursor: pointer;
}
.content a:hover{
    cursor: pointer;
}
.langs div{
    width: 150px;
    /* border: 1px solid black; */
    height: 150px;
    text-align: center;
    border-radius: 90px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    font-size: 30px;
    box-shadow: 0 0 20px 0px var(--color38);
}

.langs div:hover{
    box-shadow: 0 0 20px 0px var(--bubblecol);
}

.lets{
    padding: 75px 0px;
    font-size: 40px;
    font-family: 'Lobster', cursive;
    text-align: center;
    color: var(--code-color38);
}
.Questions div{
    margin: 50px 0;
}
.Questions hr{
    width: 50%; 
    margin-left: 25%;
}
.Questions article{
    margin: 20px 0;
}
.Questions h2{
    text-align: center;
    font-size: 45px;
    padding: 20px 0;
    color: var(--colorless38);
}
.Questions h3{
    font-size: 25px;
    padding: 5px 0;
    color: var(--colorless38);
}
.Questions h4{
    font-size: 15px;
    padding: 5px 0;
    color: var(--colorless38);
}
.Questions img{
    width: 95%;
    margin: 20px 0;
    border-radius: 30px;
}
.Questions code{
    display: block;
    padding: 35px;
    padding-left: 90px;
    border-radius: 5px;
    color: var(--code-color38);
    margin: 30px 0;
    background: #16191e;
}
.Questions code h4 {
    color: var(--h4code-color38);
}
.Questions span{
    color: var(--comment-color38);
}