:root{
  --primary-color:#f9f9f9;
  --secondary-color:#ededed;
  --third-color: #16123fb3;
  --four-color: #000;
  --five-color: #fff;
  --inputhov:#e8f0fe;
}
.dark-theme{
  --primary-color:#232931;
  --secondary-color:#323a46;
  --third-color: #EEEEEE;
  --four-color: #fff;
  --five-color: #000;
  --inputhov:#32405d;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  body{
    background-color: var(--primary-color);
  }
  html {
    scroll-behavior: smooth;
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  /* Small */
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  /* End Global Rules */
  /* Start Components */
.main-heading {
    text-align: center;
  }
  .main-heading h1 {
    position: relative;
    background-color: #75C9B7;
    width: 40%;
    padding: 10px;
    margin: auto  auto  70px;
    border-radius: 30px;
    color: #f5f5f5;
    transition: all 0.3s;
    }
  .main-heading h1:hover{
    background-color: #9c821c ;
    color: #e1e1e1;
  }

  .main-heading p {
    width: 550px;
    margin: 0 auto 100px;
    max-width: 100%;
    line-height: 2;
    color: var(--third-color);
  }
  /* End Components */
  /* Start Contact */
  .contact {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .contact .content {
    display: flex;
    justify-content: space-between;
  }
  @media (max-width: 767px) {
    .contact .content {
      flex-direction: column;
    }
  }
  .contact .content form {
    flex-basis: 70%;
  }
  .contact .content form .main-input {
    padding: 20px;
    display: block;
    border: 1px solid #ccc;
    margin-bottom: 30px;
    border-radius: 5px;
    border: none;
    width: 100%;
    background-color:var(--secondary-color) ;
  }
  .contact .content form .main-input:focus {
    outline: none;
    background-color: var(--inputhov);
    color: var(--four-color);
  }
  .contact .content form textarea.main-input {
    height: 200px;
  }
/* .main-input:hover{
   
} */
  .contact .content form input[type="submit"] {
    background-color: #abd699;
    color: var(--five-color);
    height: 60px;
    padding: 20px;
    border: none;
    display: flex;
    margin-left: auto;
    margin-bottom: 20px;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s;
  }
.content form input[type="submit"]:hover{
      background-color: #75c9b7 ;
      font-size: medium;
      border-radius: 10px;
  }

  .contact .content .info {
    flex-basis: 25%;
  }
  @media (max-width: 767px) {
    .contact .content .info {
      order: -1;
      text-align: center;
    }
  }
  .contact .content .info h4 {
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 18px;
    color: var(--four-color);
  }
  .contact .content .info .phone {
    display: block;
    color: var(--third-color);
    margin-bottom: 10px;
  }
  .contact .content .info h4:nth-of-type(2) {
    margin-top: 90px;
  }
  @media (max-width: 767px) {
    .contact .content .info h4:nth-of-type(2) {
      margin-top: 30px;
    }
  }
  .contact .content .info address {
    color: var(--third-color);
    line-height: 2;
  }
  @media (max-width: 767px) {
    .contact .content .info address {
      margin-bottom: 40px;
    }
  }
  /* End Contact */
