:root{
	--primary-color:#f9f9f9;
	--secondary-color:#dbdbdb;
	--third-color: #fff;
	--four-color: #000;
	--five-color: #e8f0fe;
	
}
.dark-theme{
	--primary-color:#232931;
	--secondary-color:#393E46;
	--third-color: #000;
	--four-color: #fff;
	--five-color: #32405d;
  }
body{
	background-color: var(--primary-color);
}

.container{
	width: 90%;
	margin: auto;
}
.radio-inline{
	margin: 5px 40px 20px 0px;
	cursor: pointer;
	text-align: center;
	font-weight: bold;
}

h1 {
    width: 40%;
    margin: auto;
    text-align: center;
    background-color: #75C9B7;
    color: var(--third-color);
    border-radius: 15px;
    letter-spacing: 3px;
	transition: all 0.3s;
}
h1:hover {
    color: #e3e2e2d9;
    background-color: #5b9d8f;
}

hr{
	height: 2px;
	background-color: var(--four-color);
	border: none;
	width: 80%;
	margin: 20px auto;
	
  }
h2{
	text-align: center;
	color: var(--four-color);
}

h3{
	width:82% ;
	margin: auto;
	padding: 20px;
	color: var(--four-color);
}
label{
	color: var(--four-color);
    height: 30px;
	margin: 10px;
}
input[type="radio"]{
	margin-right: 5px;
}
.input{
	display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 25% 25% 25% 25%;
    gap: 20px 20px;
    width: 90%;
    margin: auto;
    justify-content: space-evenly;
}



form{
	width:60% ;
	margin: auto;
	margin-bottom: 20px;
}

#text{
	height: 40px;
	border-radius: 5px;
	padding-left: 10px;
	font-size: 14px;
	border: none;
	width: 100%;
	background-color: var(--secondary-color);
	color: var(--four-color);
}

#message{
	outline: none;
	border: none;
	padding: 10px 0px 0px 15px;
	background-color: var(--secondary-color);
	font-size: 16px;
	color:var(--four-color);
	border-radius: 5px;
	width: 100%
}

input#text:focus{
	border: none;
	outline: none;
	background-color: var(--five-color);
}
textarea#message:focus{
	border: none;
	outline: none;
	background-color: var(--five-color);
}
label.Message {
    grid-column: span 2;
	grid-row: span 2;
	height: 50px;
}
.Submit{
	display: grid;
    grid-column: span 2;
    width: 50%;
    margin: auto;
    color: var(--third-color);
    text-align: center;
    cursor: pointer;
    background-color: #abd699;
    padding: 20px;
	border: none;
    font-size: 20px;
    border-radius: 10px;
	transition: all 0.3s;
}

.Submit:hover{
	border-radius: 20px;
	color: #ebebeb;
	background-color: #96ba87;
}
.radio {
	margin-left: 20%;
	margin-bottom: 20px;
}